{% extends "CAC/base.html" %}
{% load static %}
{% block content %}
  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">CACBBH</h1>
          <p class="lead mb-5 text-white">Cellular Automata Classifier using Binary Black hole optimization, is a new approach for data classification based on the cellular automata rules.</p>
        
        </div>
      </div>
    </div>
  </header>


    <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>What is a Cellular Automata</h2>
              <p class="lead">The cellular automata algorithm takes a series of states (binary states in the elementary version) and produces the next generation of this sequence, and by using specific set of rules we can change the behavior of the changing states to suite our aim to find the best solution, to ultimately get the best solution in the best time.!</p>
                <br/>
                <img src="{%static 'images/ca.png' %}" class="img-fluid" alt="cellular automata">    
                <br/>    
                <br/> 
                <br/>    
            </div>
          </div>
        </div>
      </section>
    
      <section id="services" class="bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Black Hole Algorithm</h2>
              <p class="lead">The black hole optimization algorithm is a robust stochastic optimization technique based on simulation of the behavior of black hole in outer space.The algorithm is a representation of the gravitational force to the Black hole and the less powerful (worse solutions) will be eatin by the black hole.</p>
              <img src="{%static 'images/bh.png' %}" height="350px" class="rounded mx-auto d-block" alt="balck hole schema"> 
              <br/>    
              <br/> 
              <br/> 
            </div>
          </div>
        </div>
      </section>
    
      <section >
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>CACBBH</h2>
              <p class="lead">CACBBH combines these two algorithms in order to produce a more robust way of classification and improving performance using the Black hole technique.</p>
            </div>
          </div>
        </div>
      </section>
    
   <!-- Footer -->
   <footer class="py-5 bg-dark " style="width: 100%;  ">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
      </div>
      <!-- /.container -->
    </footer>
   
 
{% endblock %}