<!DOCTYPE html>
{% extends "CAC/base.html" %}
{% load staticfiles %}

{% block content %}


<div class="container" style="margin-top:100px;">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Register:</h5>
                <form class="form-signin" action="{% url 'FS:register' %}" method="POST">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                 
    
                  
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                  <hr class="my-4">
                  <a class="btn btn-lg btn-google btn-block text-uppercase" href="{% url 'FS:user_login' %}" > Login</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    
{% endblock %}